{{#content head}}

	<script src="/partials-loader"></script>

{{/content }}

<h1>{{#if title}}{{title}}{{else}}{{partial.name}}{{/if}}</h1>

<section id="{{partial.id}}">{{{partial.html}}}</section>
<script>
	{{{partial.js.start}}}
</script>